<html>
    <head>
        <title>This is template string need to get fast</title>
    </head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <body>
        <h3>hello world</h3>

        <div id="app">


        </div>

        <!-- <h2 id="alr">hello alert show</h2> -->
        <form id="myform">
            <input type="text" id="ourField">
            <button>button</button>
        </form>

        <h4 id="hd">suraj hide</h4>
        <button id="btn">button</button>


        <div id="info">
            
        </div>

        <script src="./templateString.js">
        </script>
        <script>

$(function(){
    $("#btn").click(function(){
        // $("#hd").hide("slow");
        // $(this).hide();
        $('#hd').attr("title","www.w3school.com");

    })

})

        </script>

    </body>
</html>